.navContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.logo {
}
.navItem {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: #ff5151;
}

.profile {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
